/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Lavishly+Yours&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Story+Script&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

html {
    /* font-family: "Spectral", serif; */
    font-family: "Outfit", sans-serif;
}

/* background-color: #191919; */
/* background-color: #1A8917; */

/* BODY */

body {
    display: flex;
    flex-direction: column;
}


#general_div_1 {
    background-color: #FFC017;
    padding-bottom: 6.5rem;
    overflow: hidden;
}


/* GENRAL DIV 1 */

/* NAV */

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFC017;
    padding: 0.7rem 0rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    border-bottom: 1px solid black;
    transition: all 1s;
}

.scrolled {
    background-color: white;
}

.scrolled_a:hover {
    background-color: #1A8917;
}

#nav_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

nav a {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: all 0.2s;
}

nav a:hover {
    color: white;
    background-color: black;
}


/* HR */

hr {
    border: none;
    border-top: 1px solid rgb(0, 0, 0);
}

.separate_nav {
    padding: 1rem;
}

.separate {
    margin-bottom: 2rem;
}

.separate_gray {
    margin-bottom: 4rem;
    border-top: 2px solid rgb(225, 225, 225);
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    padding-top: 70px;
}

header h1 {
    font-size: 7rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 2rem;
    width: 70%;
    margin-bottom: 3rem;
}

header a {
    font-size: 1.7rem;
    padding: 0.5rem 3rem;
    border-radius: 50px;
    color: white;
    background-color: black;
    transition: all 0.2s;
}

header a:hover {
    background-color: #1A8917;
}

#header_right {
    position: relative;
    width: 49%;
}

#header_right svg {
    min-height: 500px;
    min-width: 600px;
    position: absolute;
    top: -10%;
    right: -40%;
}



/* general_div_2 */

#general_div_2 {
    padding: 0 10rem;
}


/* MAIN */

#trending {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#trending p {
    margin-left: 0.5rem;
    font-weight: 600;
}


/* CARDS */

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 2rem;
}

.card {
    display: flex;
    justify-content: start;
    align-items: start;
    /* flex-wrap: wrap; */
    width: 420px;
    padding: 1rem 0rem 2rem 0rem;
    border: 1px solid rgba(229, 229, 229, 0);
    transition: all 0.2s;
    cursor: pointer;
}

.in {
    color: gray;
}

.card:hover {
    box-shadow: 0px -3px 0px #FFC017, 0px 3px 0px #FFC017;
}

.card img {
    /* width: 10%; */
    width: 25px;
    border-radius: 20%;
}

.card_left {
    margin-right: 2rem;
}

.card_left p {
    color: rgba(0, 0, 0, 0.275);
    font-size: 3rem;
    font-weight: 600;
    transition: all 0.3s;
}

.card:hover .card_left p {
    color: black;
}

.card_right {
    margin-top: 1rem;
}

.card_right_top {
    display: flex;
    align-items: center;
}

.card_right_top p {
    margin-left: 0.5rem;
}

.card_right_middle h3 {
    margin: 0.5rem 0rem;
    font-family: "Outfit", sans-serif;
    font-size: 1.5;
    font-weight: 800;
}

.card_right_bottom p {
    color: gray;
}

.card_right_bottom span {
    margin: 0rem 0.3rem;
}

/* general_div_3 */

#general_div_3 {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    margin-bottom: 7rem;
    ;
}

/* CARDS 2 */

.cards_2 {
    display: flex;
    flex-direction: column;
    margin-right: 8rem;
}

.card_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    border: 1px solid rgba(128, 128, 128, 0);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: -2px 0px 0px #1A8917;
}

.card_2:hover {
    background: linear-gradient(90deg, rgba(169, 169, 169, 0.114), white);
    box-shadow: -30px 0px 0px #1A8917;
}

.card_2_left {
    width: 60%;
    margin-right: 5rem;
    margin-left: 2rem;
}

.card_2_left_top {
    display: flex;
    align-items: center;
}

.card_2_left_top p {
    margin-left: 0.7rem;
    font-weight: 600;
}

.card_2_left h3 {
    margin: 0.8rem 0;
    font-size: 1.8rem;
    font-weight: 800;
}

.description {
    color: gray;
    font-size: 1.3rem;
}

.card_2_left h3,
.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 0.12rem;
}


.info {
    color: gray;
}

.info span:first-child {
    margin: 0rem 0.2rem;
}

.info span:nth-child(2) {
    margin: 0rem 0.2rem;
}

.info span:nth-child(3) {
    display: inline-block;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
    padding: 0.2rem 0.7rem;
    transition: all 0.2s;
}

.info span:nth-child(3):hover {
    color: white;
    background-color: #FFC017;
}

.card_2_left_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.card_2_left_bottom_left {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 90%;
    flex-wrap: nowrap;
}

.card_2_left_bottom_left img {
    margin-left: 0.3rem;
}

.card_2_left_top img {
    border-radius: 50%;
}

.book {
    width: 5%;
    background-color: rgba(235, 235, 235, 0.136);
    border-radius: 50%;
    transition: all 0.2s;
    cursor: cell;
}

.book:hover {
    background-color: rgb(235, 235, 235);
}

.card_2_right {
    display: flex;
    justify-content: end;
}

.card_2_right img {
    width: 80%;
}


/* ASIDE */

aside {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.aside_top {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

aside h3 {
    font-weight: 600;
    margin-bottom: 0.8rem;
}

aside p {
    color: gray;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.3rem;
    transition: all 0.2s;
}

aside p:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: #1A8917;
    border: 2px solid #1A8917;
}

#separate_gray_aside {
    margin: 2rem 0;
}

.aside_bottom {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

.aside_bottom a {
    color: gray;
    padding: 0 0.5rem 0.5rem 0;
    margin: 0 0.3rem 0.3rem 0;
    transition: all 0.2s;
    border-radius: 10px;
}

.aside_bottom a:hover {
    color: black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.114);
}


/* SOLDI! */

#soldi p,
#soldi_2 p,
#soldi_3 p,
#soldi_4 p {
    transition: all 0.5s;
}


#soldi,
#soldi_2,
#soldi_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#soldi P {
    border: none;
    color: white;
}

#soldi p span:nth-child(1) {
    line-height: 0.5;
    font-size: 11rem;
}

#soldi p span:nth-child(2) {
    line-height: 0.5;
    font-size: 4rem;
}

#soldi p span:nth-child(3) {
    line-height: 0.6;
    font-size: 8rem;
}

#soldi p span:nth-child(4) {
    line-height: 0.6;
    font-size: 22rem;
}

#soldi p span:nth-child(5) {
    line-height: 0.6;
    font-size: 11.7rem;
}


/* SOLDI 2 */

#soldi_2 p:hover {
    background-color: #FFC017;
}

#soldi_2 P {
    border: none;
    color: white;
}

#soldi_2 p span:nth-child(1) {
    line-height: 0.5;
    font-size: 10rem;
}

#soldi_2 p span:nth-child(2) {
    line-height: 0.6;
    font-size: 11.7rem;
}


/* SOLDI 3 */

#soldi_3 p:hover {
    background-color: black;
}

#soldi_3 P {
    border: none;
    color: white;
}

#soldi_3 p span:nth-child(1) {
    line-height: 0.5;
    font-size: 10rem;
}

#soldi_3 p span:nth-child(2) {
    margin-left: 8rem;
    line-height: 0.15;
    font-size: 10rem;
}

#soldi_3 p span:nth-child(3) {
    line-height: 0.6;
    font-size: 11.7rem;
}


/* SOLDI 4 */

#soldi_4 {
    position: relative;
}

#soldi_4 p:hover {
    background-color: rgb(246, 2, 2);
}

#soldi_4 P {
    border: none;
    color: white;
}

#soldi_4 p span:nth-child(1) {
    line-height: 0.45;
    margin-left: -1.3rem;
    font-size: 5.8rem;
}

#soldi_4 p span:nth-child(2) {
    line-height: 0.6;
    font-size: 10rem;
}

#soldi_4 p span:nth-child(3) {
    line-height: 0.6;
    margin-left: -2rem;
    font-size: 11.7rem;
}

#soldi_4 p span:nth-child(4) {
    line-height: 0.6;
    margin-left: -2rem;
    font-size: 13rem;
}

#nano {
    text-align: end;
    position: absolute;
    top: 110px;
    /* right: -170px; */
    right: 30px;
}

#nano h5 {
    /* visibility: hidden; */
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: "Story Script", sans-serif;
    opacity: 0;
    transition: all 0.5s;
}

#soldi_4:hover #nano h5 {
    transition: all 8s;
    color: white;
    opacity: 1;
}